<div class="container">

  <div class="col-md-12">

    <div ng-controller="SignUpController as $ctrl">
      <h3>David Chu's China Bistro Newsletter (that will never come!)</h3>

        <form name='regForm' novalidate>

          <!-- First Name -->
          <div class="form-group">
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="First Name" class="form-control"
              ng-model="$ctrl.formDetails.firstName"
              required>
            <span
              ng-if="regForm.firstName.$error.required && regForm.firstName.$touched">
              First name is a required field
            </span>
          </div>


          <!-- Last Name -->
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Last Name" class="form-control"
              ng-model="$ctrl.formDetails.lastName"
              required>
            <span
              ng-if="regForm.lastName.$error.required && regForm.lastName.$touched">
              Last name is a required field
            </span>
          </div>

          <!-- Email Address -->
          <div class="form-group">
            <label>email</label>
            <input type="email" name="email" placeholder="email" class="form-control"
              ng-model="$ctrl.formDetails.email"
              required>
            <span
              ng-if="regForm.email.$invalid && regForm.email.$touched">
              Required format xxxxx@xxxxx.xxx
            </span>
          </div>

          <!-- Phone Address -->
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" placeholder="Phone number" class="form-control"
              ng-model="$ctrl.formDetails.phone"
              pattern="(\d{3})-(\d{3})-(\d{4})"
              required>
            <span
              ng-if="regForm.phone.$invalid && regForm.phone.$touched">
              Phone is a required field. Format nnn-nnn-nnnn
            </span>
          </div>

          <!-- Favorite dish Address -->
          <div class="form-group">

            <label>Favorite dish</label>
            <input type="text" name="favDishShortName" placeholder="Favorite dish" class="form-control"
              ng-model="$ctrl.formDetails.favDishShortName"
              required>
            <span
              ng-if="regForm.favDishShortName.$error.required && regForm.favDishShortName.$touched">
              This is a required field. Format 2-4 capitalized alphnumeric.
            </span>
            <span
              ng-if="!$ctrl.formSaved && $ctrl.error">
              No such menu number exists
            </span>
          </div>


          <!-- Submit Button -->
          <p/>
          <div class="form-group">
            <button
              ng-disabled="regForm.$invalid"
              ng-click="$ctrl.submit(regForm)">Submit</button>

          </div>
        </form>

        <div ng-if="$ctrl.formSaved">Your information has been saved.</div>

        <div ng-if="$ctrl.favDishError && !$ctrl.formSaved">Favorite dish does not exist please revise</div>


    </div>  <!-- ng-controller -->

  </div>  <!-- col-md-12 -->

</div>  <!-- container -->
